@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-noto: "Noto Sans JP", sans-serif;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-sans: var(--font-geist-sans);
	--font-mono: var(--font-geist-mono);
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-noto);
}

.flag-dropdown {
	@apply rounded-tl-full; /* Tailwind width, height, rounded */
}

.selected-flag {
	@apply rounded-tl-full; /* Tailwind width, height, rounded */
}

@keyframes floatStair {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-3px);
	}
}

/* Big image: very subtle float */
@keyframes floatBig {
	0%,
	100% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(-4px);
	}
}

[data-aos] {
	overflow-x: clip;
}
html,
body {
	overflow-x: hidden;
}
.phone-wrapper .react-international-phone-country-selector-button {
	@apply border-none rounded-xl bg-transparent shadow-none;
}
